.footer{
    margin-top: 10rem;
    height: 18rem;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topDiv{
    width: 85%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.logo{
    height: 7rem;
    width: 16rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.logo > h1{
    font-size: 4rem;
    font-family: 'Noto Naskh Arabic', serif;
    color: rgb(0, 0, 0, 0.8);
}
.findShit{
    height: 7rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}
.findShit > div{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Varela Round', sans-serif;
}
.findShit label{
    width: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.joinCommunity{
    height: 10rem;
    width: 25rem;
    padding-left: 1rem;
}
.joinCommunity > h3{
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    color: rgb(72, 69, 69);
}
.searchDiv {
    height: 5rem;
    width: 20rem;
    display: flex;
    margin: 0;
    padding: 0;
}
.search {
    width: 75%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    padding-left: 3rem;
    outline: none;
    box-shadow: -10px 32px 46px 2px rgba(0, 0, 0, 0.06);
}
.search::-webkit-search-decoration,
.search::-webkit-search-cancel-button,
.search::-webkit-search-results-button,
.search::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
.search::placeholder {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.1rem;
    padding-right: 3rem;
    font-weight: 550;
    color: rgb(35, 34, 34, 0.9);
}
.search:focus {
    border: .1px solid rgb(151, 198, 128, 0.9);
    box-shadow: -13px 32px 46px 2px rgba(0, 0, 0, 0.09);
    outline: none;
}
.search:active {
    border: .1px solid rgb(151, 198, 128, 0.9);
    box-shadow: -13px 32px 46px 2px rgba(0, 0, 0, 0.09);
    outline: none;
}
.search:hover {
    box-shadow: -13px 32px 46px 2px rgba(0, 0, 0, 0.09);
}
.GoDiv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 198, 128);
    font-size: 3.3rem;
    font-family: 'Harmattan', sans-serif;
}
.GoDiv:hover {
    cursor: pointer;
}
.bottomDiv{
    width: 85%;
    border-top: 1px solid rgb(67, 65, 65, 0.2);
    display: flex;
    justify-content: space-between;
}
.bottomDiv > div{
    height: 5rem;
}
.rightsReserved{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4rem;
}
.rightsReserved > img{
    max-width: 3rem;
}
.socialDiv{
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socialDiv > a{
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialDiv > a:hover{
    background-color: rgb(243, 238, 238);
    border: 1px solid rgb(0, 0, 0, 0.5);
}

/* Media Queries */
@media(max-width:1250px){
    .topDiv{
        width: 100%;
    }
    .joinCommunity{
        width: 20rem;
    }
    .findShit{
        width: 20rem;
    }
}
@media(max-width:1000px){
    .bottomDiv{
        margin-top: 3rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .socialDiv{
        width: 25rem;
    }
}
@media(max-width:700px){
    .footer{
        height: 40rem;
    }
    .topDiv{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .findShit{
        margin-top: 0;
    }
    .joinCommunity{
        margin-bottom: 2rem;
        padding-right: 1rem;
    }
    .rightsReserved{
        width: 20rem;
        font-size: 1.1rem;
    }
    .socialDiv{
        width: 20rem;
    }
}